/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@media (max-width: 800px) {
  html {
    font-size: 50%;
  }
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4 {
  margin: 10px;
  font-weight: bold;
  font-family: 'Spartan';
  padding: 1%;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
}
.body-container {
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .body-container {
    width: 80%;
  }
}
.body-wrapper {
  max-width: 1000px;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 800px) {
  .body-wrapper {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .body-wrapper {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .body-wrapper {
    width: 100%;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}
header .Logo {
  display: flex;
  justify-content: center;
}
header .Logo img {
  width: 15%;
}
header .Logo h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  width: 50%;
}
@media (max-width: 500px) {
  header .Logo {
    justify-content: space-around;
  }
  header .Logo h1 {
    font-size: 25px;
  }
}
@media (max-width: 1000px) {
  header .Logo {
    justify-content: space-evenly;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
nav a {
  text-decoration: none;
  color: black;
  background-color: aliceblue;
  padding: 2%;
  border-radius: 25%;
  border: 1px solid black;
  font-size: 1.5em;
}
@media (max-width: 500px) {
  nav {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  nav {
    width: 70%;
  }
}
footer {
  text-align: center;
  margin: 5% auto;
  background-color: #a4d4ff;
  height: 8%;
  width: 100%;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0;
}
footer p {
  font-size: 2.5rem;
  margin-left: 1%;
}
footer .twitter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}
footer .twitter p {
  font-size: 1.5rem;
}
footer .twitter span a {
  text-decoration: none;
}
footer .twitter span a i {
  color: #000;
}
footer .twitter span a i:hover {
  color: #fff;
}
.team {
  background-color: #f0f8ff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #000;
  margin: 5%;
}
@media (max-width: 500px) {
  .team {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0;
  }
}
@media (max-width: 800px) {
  .team {
    border-radius: 0;
  }
}
.team:nth-child(odd) {
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .team:nth-child(odd) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.team .team-img {
  width: 40%;
  height: 20vh;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team .team-img img {
  height: 100%;
  border-radius: 5px;
}
.team .team-info {
  width: 50%;
  text-align: center;
  padding: 2%;
}
.team .team-info p {
  font-size: 1.8rem;
  font-family: 'Montserrat';
}
header {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 500px) {
  header {
    width: 100%;
  }
}
.form-container {
  width: 70%;
  height: 90vh;
  margin: 0 auto;
  background-color: #f0f8ff;
  border: 1px solid #000;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .form-container {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .form-container {
    width: 100%;
    height: 130vh;
  }
}
.form-container input {
  width: 100%;
  height: 35%;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5%;
  font-family: 'Montserrat';
}
.form-container form {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Spartan';
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .form-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.form-container form .input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  width: 45%;
  margin: 1%;
  padding: 1%;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .form-container form .input {
    width: 80%;
  }
}
.form-container form .options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}
.form-container form .options select {
  width: 50%;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1%;
  font-family: 'Montserrat';
}
@media (max-width: 500px) {
  .form-container form .options select {
    width: 80%;
  }
}
.form-container form .textarea {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container form .textarea p {
  text-align: center;
  width: 80%;
  margin-bottom: 5%;
}
.form-container form .textarea textarea {
  width: 80%;
  resize: none;
  font-family: 'Montserrat';
  border: 1px solid #000;
  border-radius: 5px;
  outline-style: none;
}
.form-container form .button {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10%;
}
.form-container form button {
  width: 50%;
  background-color: #000;
  color: #fff;
  padding: 2%;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-size: 1.5rem;
}
@media (max-width: 500px) {
  .form-container form button {
    width: 60%;
  }
}
.form-container form button:hover {
  color: #000;
  background-color: #fff;
}
#quote {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#quote #about-quote {
  text-align: center;
  font-size: 50px;
  width: 75%;
  border-top: 1px solid black;
  padding: 3% 0;
  margin: 3% 0;
}
#quote p {
  font-size: 2em;
}
.About {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 5% 0 0 0;
}
.About #what {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 3% 0;
}
.About #what img {
  width: 25%;
  border-radius: 15%;
}
.About #what .What-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}
.About #what .What-text h2 {
  font-size: 3em;
  padding: 2% 0;
  border-bottom: 1px solid black;
}
.About #what .What-text p {
  font-size: 1.6em;
  padding-bottom: 3%;
}
.About #what .What-text a {
  width: 30%;
}
.About #what .What-text button {
  background: aliceblue;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 2%;
  width: 100%;
  padding: 2% 0;
  font-family: 'Montserrat', sans-serif;
}
.About #what .What-text button a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: large;
}
@media (max-width: 800px) {
  .About #what {
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
  }
  .About #what #attrLink {
    opacity: 0%;
  }
  .About #what img {
    display: none;
  }
  .About #what .What-text {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .About #what #attrLink {
    width: 40%;
    align-self: center;
    opacity: 0%;
  }
}
@media (max-width: 1000px) {
  .About #what {
    width: 90%;
  }
}
.About #who {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin: 5% 0;
}
.About #who img {
  width: 40%;
  border-radius: 15%;
}
.About #who .Who-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-right: 1px solid black;
}
.About #who .Who-text h2 {
  font-size: 3em;
}
.About #who .Who-text p {
  font-size: 2em;
}
.About #who .Who-text a {
  width: 30%;
}
@media (max-width: 500px) {
  .About #who {
    flex-direction: column-reverse;
    align-items: center;
  }
  .About #who img {
    width: 75%;
  }
  .About #who .Who-text {
    width: 80%;
    padding-bottom: 2%;
    border: none;
  }
}
.About #why {
  display: flex;
  justify-content: space-evenly;
}
.About #why img {
  width: 40%;
  border-radius: 10%;
}
.About #why .Why-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: 1px solid black;
  padding-left: 10px;
}
.About #why .Why-text h2 {
  font-size: 3em;
}
.About #why .Why-text p {
  font-size: 2em;
}
.About #why .Why-text a {
  width: 30%;
  align-self: flex-end;
}
@media (max-width: 500px) {
  .About #why {
    flex-direction: column-reverse;
    align-items: center;
  }
  .About #why img {
    width: 75%;
  }
  .About #why .Why-text {
    width: 80%;
    padding-bottom: 2%;
    padding-left: 0;
    border: none;
  }
}
.Newsletter-info {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2%;
}
.Newsletter-info h2 {
  width: 50%;
  border-top: 1px solid black;
  padding: 0;
  font-size: 5em;
}
.Newsletter-info p {
  width: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 2em;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
@media (max-width: 800px) {
  .Newsletter-info h2 {
    width: 90%;
  }
  .Newsletter-info p {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .Newsletter-info p {
    font-size: 1.5em;
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  margin-top: 2%;
}
form #fname,
form #lname {
  width: 10%;
}
form #email,
form #phone {
  width: 20%;
}
form button {
  padding: 1%;
  border-radius: 10px;
  border: 1px solid black;
  width: 10%;
}
@media (max-width: 800px) {
  form #fname,
  form #lname {
    width: 25%;
  }
  form #email,
  form #phone {
    width: 35%;
  }
  form button {
    width: 20%;
  }
}
@media (max-width: 1000px) {
  form #fname,
  form #lname {
    width: 20%;
  }
  form #email,
  form #phone {
    width: 35%;
  }
}
