
// navigation mixins
.navText(@decoration, @color, @background){
    text-decoration: @decoration;
    color: @color;
    background-color: @background;
}

.navShape(@pad, @bRadius, @border){
    padding: @pad;
    border-radius: @bRadius;
    border: @border;
}

// home page mixins
.quoteStyle(@align, @fontSize) {
    text-align: @align;
    font-size: @fontSize;
}

.quoteShaping(@width, @bTop, @pad, @margin){
    width: @width;
    border-top: @bTop;
    padding: @pad;
    margin: @margin;
}

// Newsletter mixins

.newsHeading(@borderColor, @pad, @textSize) {
    border-top: @borderColor;
    padding: @pad;
    font-size: @textSize;
}

.newsButton(@pad, @bRadius, @border){
    padding: @pad;
    border-radius: @bRadius;
    border: @border;
}