nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    a {
        text-decoration: none;
        color: black;
        background-color: aliceblue;
        padding: 2%;
        border-radius: 25%;
    }
}