
// colors
@main-color:#f0f8ff;
@black:#000;
@white:#fff;

//margins
@space-inside:2%;
@space-outside:5%;

// fonts

@hfont:'Spartan';
@mainfont:'Montserrat';

//media queries

@phone: ~"(max-width: 500px)";
@phone: ~"(max-width: 1024px)";